<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":"
  }}</span>
<ul>
  {% assign nodes = site.html_pages | concat: site.documents | where: "sidebar", true | sort: "order" %}
  {% assign tag_nodes = nodes | where: "type", "tag" %}
  {% assign count = 0 %}
  {% for node in nodes %}
  {% unless node.redirect_to %}
  {% if node.type != "tag" %}
  {% assign subnodes = tag_nodes | where_exp: "item", "item.category == node.slug" %}
  {% assign subnodes = subnodes | where_exp: "item", "item.slug != node.slug" %}
  {% assign subnodes = subnodes | sort: "order" %}
  {% if subnodes != empty %}
  {% assign count = count | plus: 1 %}
  {% endif %}
  <li>
    {% if subnodes != empty %}
    <input type="checkbox" id="folder-checkbox-{{ count }}" />
    {% endif %}
    <div class="list-wrapper">
      <a {% if forloop.first %}id="_navigation" {% endif %} href="{{ node.url | relative_url }}"
        class="sidebar-nav-item" {% if node.rel %}rel="{{ node.rel }}" {% endif %}>{{ node.title }}</a>
      {% if subnodes != empty %}
      <button class="spread-btn" onclick="javascript:spread({{ count }})">
        <label id="spread-icon-{{ count }}" class="material-icons">arrow_right</label>
      </button>
      {% endif %}
    </div>
    {% if subnodes != empty %}
    <ul class="list-body">
      {% for subnode in subnodes %}
      {% assign subsubnodes = tag_nodes | where_exp: "item", "item.category == subnode.slug" %}
      {% assign subsubnodes = subsubnodes | where_exp: "item", "item.slug != subnode.slug" %}
      {% if subsubnodes != empty %}
      <li>
        <input type="checkbox" id="folder-checkbox-{{ count }}-{{ forloop.index }}" />
        <div class="list-wrapper">
          <a class="sidebar-nav-subitem" href="{{ subnode.url | relative_url }}">{{ subnode.title }}</a>
          <button class="spread-btn" onclick="javascript:spread('{{ count }}-{{ forloop.index }}')">
            <label id="spread-icon-{{ count }}-{{ forloop.index }}" class="material-icons">arrow_right</label>
          </button>
        </div>
        <ul class="list-body">
          {% for subsubnode in subsubnodes %}
          <li>
            <a class="sidebar-nav-subitem" href="{{ subsubnode.url | relative_url }}">{{ subsubnode.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li>
        <a class="sidebar-nav-subitem" href="{{ subnode.url | relative_url }}">{{ subnode.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endif %}
  {% else %}
  <li>
    <a href="{{ node.redirect_to }}" class="sidebar-nav-item external">{{ node.title }}</a>
  </li>
  {% endunless %}
  {% endfor %}
</ul>